@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.brand {
    position: relative;
    font-weight: 600;
    font-size: 2rem;

    &::before {
        position: absolute;
        content: '';
        right: -28px;
        width: 22px;
        height: 22px;
        background-image: url("/public/assets/svg/blink.svg");
        background-size: 100%;
    }
}