@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.btn {
    cursor: pointer;
    font-family: inherit;
}

.btn-main {
    height: 40px;
    padding: 0 15px;
    
    font-family: inherit;
    font-size: 1rem;
    
    border-radius: 3px;
    color: #fff;
    background-color: f.getColor('principal-btn-bg');

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    transition: background .3s;

    &:not([disabled]):hover {
        background-color: f.getColor('principal-btn-hover-bg');
    }

    &:disabled {
        cursor: context-menu;
        filter: opacity(35%);
    }

    &__text {
        display: none;
        @media(min-width: 425px){
            display: inline-block;
        }
    }
}

.btn-secondary {
    height: 34px;
    padding: 0 22px;
    
    font-size: 1.05rem;
    color: #fff;
    background-color: f.getColor('secondary-btn-bg');
    
    border-radius: 5px;
    transition: background .3s;

    &:hover {
        background-color: f.getColor('secondary-btn-hover-bg');
    }
}

.btn-card {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background .3s;
}

.btn-cross {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border-radius: 50%;
    transition: background .3s;
    color: f.getColor('icon-color');

    &:hover {
        background-color: f.getColor('pill-bg');
    }
}