@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.form-group {
    position: relative;
    width: 100%;
}

.form {
    padding: 35px 26px;
    background-color: f.getColor('modal-bg');
    
    @media (min-width: 450px) and (max-width: 559px) {
        padding: 37px 32px;
    }

    @media (min-width: 560px) and (max-width: 700px) {
        padding: 39px 55px;
    }

    @media (min-width: 700px) {
        padding: 48px 72px;
    }


    &__title {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }

    &__label {
        z-index: 30;
        cursor: auto;
        pointer-events: none;
        position: absolute;
        top: 7px;
        left: 0;
        width: max-content;
        transition: transform .3s;
        font-weight: 400;
        background-color: f.getColor('label-bg');
        padding: 1px;
        transform: translateX(15px);
        color: f.getColor('text-color')
    }

    &-inputs-container {
        height: 35px;
        margin-bottom: 18px;
        display: flex;
        gap: 12px;
    }

    &__input {
        width: 100%;
        height: 40px;
        padding: 0 18px;

        &:nth-of-type(2) {
            width: 45%;
        }
    }

    &__textarea {
        height: 100%;
        min-height: 210px;
        max-height: 470px;
        padding: 25px 30px;
        margin-bottom: 12px;
        overflow-y: auto;

        &:empty::before {
            position: absolute;
            content: attr(data-placeholder);
            font-weight: 400;
            font-family: f.getFont("main-font");
            color: f.getColor('text-color');
        }
    }

    &-command {
        width: 45px;
        font-family: f.getFont('monospace-font');
        font-size: 2rem;
        padding: 0 0px;

        &::placeholder {
            color: f.getColor('text-color');
            text-align: center;
        }

        &:disabled {
            background-color: f.getColor('modal-bg');
        }
    }

    &-field {
        cursor: auto;
        position: relative;
        font: {
            size: 1rem;
            family: f.getFont('input-font');
            weight: 400;
        }

        color: f.getColor('text-color');

        outline: 0.3px solid f.getColor('input-outline');
        border-radius: 5px;
        letter-spacing: .5px;

        transition: outline .3s;
        background-color: f.getColor('input-bg');

        &::placeholder {
            font-weight: 400;
            color: f.getColor('text-color');
        }

        &:focus {
            outline: 0.3px solid f.getColor('input-focus-outline');
        }
    }
}


.form-invalid {
    &::after {
        content: "*";
        padding-left: 5px;
        color: #f00;
    }
}

.input-invalid {
    outline: 1px solid rgba(255, 0, 0, 0.674);
    
    &:hover, &:focus {
        outline: 1px solid rgba(255, 0, 0, 0.674);
    }
}

.input-valid {
    outline: 1px solid rgba(0, 139, 28, 0.478);
    
    &:hover, &:focus {
        outline: 1px solid rgba(0, 139, 28, 0.478);
    }
}


.form__input:focus ~ .form__label,
.form__input:valid ~ .form__label {
    transform: translateX(0px) translateY(-21px) scale(0.7);
}

.form__input:focus ~ .form__label--large,
.form__input:valid ~ .form__label--large {
    transform: translateX(-10px) translateY(-21px) scale(0.7);
}

.form-errors {
    font-weight: 500;
    padding-left: 15px;

    &__item {
        position: relative;
        padding-left: 5px;
        &::before {
            position: absolute;
            content: "*";
            left: -10px;
            top: 14px;
            padding-right: 5px;
            color: #f00;
            transform: translateY(-50%);
        }
    }
}