@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.modal {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 95%;
    max-width: 55%;
    max-height: 75%;
    box-shadow: 0px 3px 13px 0px #0000001a;

    @media (min-width: 900px) {
        width: 70%;
        max-height: 1280px;
    }
}

.shadow {
    z-index: 5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #00000050;
}