@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.nav {
    &-list {
        display: flex;
        gap: 35px;

        &__item {
            width: 182px;
            font-size: 1.2rem;
            display: grid;
            justify-content: center;

            &--short {
                width: 150px;
            }
        }
    }


    &-header-active {
        position: relative;
        font-weight: 500;

        &::after{
            position: absolute;
            content: '';
            bottom: -12px;
            left: 50%;
            width: 5px;
            height: 5px;
            background-color: #000;
            transform: translateX(-50%);
            border-radius: 50%;
        }
    }

    &-active {
        font-weight: 400;
    }
}
