@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.section {
    padding: 35px 0;

    &-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;
        padding-bottom: 24px;

        @media(min-width: 425px) {
            flex-direction: row;
            align-items: center;
            gap: 0;
            padding-bottom: 16px;
        }

        @media(min-width: 1000px) {
            padding-bottom: 2px;
        }
    }

    &-center {
        display: grid;
        place-items: center;
    }
}

.settings{

    &__title {
        margin-bottom: 48px;
    }

    &-container {

        width: 100%;
        max-width: 450px;

        @media (min-width: 800px) {
            width: 45%;
            max-width: none;
        }

        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    &__item {
        padding: 0 7px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;


    }
}
    
.settings__item:nth-child(1),
.settings__item:nth-child(2),
.settings__item:nth-child(3) {
    &::before {
        position: absolute;
        content: "";
        bottom: -18px;
        left: 0;
        width:  100%;
        height: 1px;
        background-color: f.getColor('line-color-tertiary');
    }
}