@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.section {
    padding: 35px 0;

    &-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
