@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixins" as m;

.header {
    width: 100%;
    padding: 25px 95px;
    display: flex;
    justify-content: center;
    background-color: f.getColor("header-bg");
    border-bottom: 1px solid #00000010;

    &-container {
        width: 100%;
        max-width: 950px;
        display: flex;
        justify-content: space-between;
    }
}